---
---

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

/* TEST */
body {
  border: 5px solid red;
}

/* TON FIX */
.page__content p + ul {
  margin-top: 0;
}

.page__content p {
  white-space: pre-line;
}

/* TEST */
body {
  border: 5px solid red;
}
